HOST=0.0.0.0
PORT=8080
DEBUG=false
SUPERUSERS=["2715437140"]
NICKNAME=["yuudi", "雨滴佬", "雨滴"]
COMMAND_START=["/", ""]
COMMAND_SEP=["."]

APSCHEDULER_AUTOSTART=true
APSCHEDULER_CONFIG={"apscheduler.timezone": "Asia/Shanghai"}

tencent_app_id=
tencent_app_key=